server {
    listen 80;
    server_name pinkslash.metatype.cn;

    location /static {
        root /var/scorpio;
    }

    location /media {
        root /var/scorpio;
    }

    location / {
        proxy_pass http://127.0.0.1:8023;
    }

    location /MP_verify_32bbPORe0wz9RCC5.txt {
        root /root/;
    }

}