{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>{{lunch.name}}</title> -->
    <link rel="stylesheet" href="{% static "/css/style.css" %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1143945_p0azd9jns4r.css">

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header">
    <span id="J_backBtn" class="header-back iconfont icon-arrow-left-s-line"></span>
    <h1 class="header-title">{{lunch.name}}</h1>
</div>
<br>
<div class="page-lunch-detail">

    <img style="width: 100%" src="{{ lunch.img.url }}">
    <!-- <p>Payment Success</p> -->
    {% if status == 0 %}
        <button data-toggle="modal" data-target="#myModal" class="button big blue-button">Reserve</button></a>
    {% else %}
        <button class="button big blue-button">Reservations have been made.</button>
    {% endif %}
</div>


  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">Reservation</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- 模态框主体 -->
        <div class="modal-body">
         {{ lunch.credit }} credits will be deducted from the reservation. Are you sure?
        </div>

        <!-- 模态框底部 -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a href="/lunch/reserve/{{ lunch.id }}" style="text-decoration:none;">
                <button type="button" class="btn btn-success" >
                    Confirm
                </button>
            </a>

        </div>

      </div>
    </div>
  </div>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static "/js/app.js" %}"></script>
</body>
</html>
