{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation</title>
    <link rel="stylesheet" href="{% static "/css/style.css" %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1143945_p0azd9jns4r.css">
</head>
<body>
<!-- <div class="header">
    <span id="J_backBtn" class="header-back iconfont icon-arrow-left-s-line"></span>
    <h1 class="header-title">Reservation</h1>
</div> -->
<div class="page-reservation">
    <ul class="reservation-list">
        {% for food in foods %}
            <li class="reservation-item">
                <div class="reservation-item-image" style="background-image: url({{ food.food_img.url }})"></div>
                <div class="reservation-item-info">
                    <h3 class="reservation-item-title">{{ food.name }}</h3>
                    {#                    <p class="reservation-item-subtitle">Subtitle</p>#}
                </div>

                <a href="/add_favorite/{{ food.id }}" class="reservation-item-like iconfont icon-like
                    {% if food.id in favo_ids %}
                        active
                    {% endif %}" style="text-decoration-line: none">
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static "/js/app.js" %}"></script>
</body>
</html>


<script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script type="text/javascript">
var current_url = window.location.href
$(function(){
    $.ajax({
        type:"post",
        url:"https://pinkslash.metatype.cn/getticket",
        data:{'current_url':current_url},
        dataType : "json",
        success:function(result){
            wx.config({
            debug: false,
            appId: result.appId,
            timestamp: result.timestamp,
            nonceStr:result.nonceStr,
            signature:result.signature,
            jsApiList : ['onMenuShareAppMessage']
             });
            wx.ready(function () {   //需在用户可能点击分享按钮前就先调用
                wx.onMenuShareAppMessage({
                    title: 'Hilton 2019 F&B Week', // 分享标题
                    desc: '48 Hours with Hilton', // 分享描述
                    link: 'https://pinkslash.metatype.cn/user_login/', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: 'https://pinkslash.metatype.cn/static/images/xixi.png', // 分享图标
                    trigger:function(){
                    },
                    success:function(res){
                    },
                    cancel: function(){
                    },
                    fail: function(res){
                    }
                })
            });
        },
        error:function(result) {
        }
    })
})

</script>