<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer-Credits</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="page-topic">
        <h1 class="title">这事标题，哈哈哈</h1>
        <img class="banner" src="http://placehold.it/100x50">
        <pre class="content">
    该接口可以获取单个视频的多种信息，包括：
    基础信息（basicInfo）：包括视频名称、大小、时长和封面图片等；
    元信息（metaData）：包括视频流信息和音频流信息等；
    加密信息（drm）：对视频加密之后，相关的加密信息；
    内容审核结果信息（contentReviewInfo）：对视频发起内容审核后的审核结果，目前仅支持鉴黄结果；

    智能分析结果信息（aiAnalysisInfo）：对视频发起智能分析后的分析结果，包括智能分类和智能标签等；
    转码结果信息（transcodeInfo）：包括该视频转码生成的各种码率的视频的地址、规格、码率和分辨率等；
    转动图结果信息（animatedGraphicsInfo）：对视频转动图（如 gif）后，动图相关信息；
    采样截图信息（sampleSnapshotInfo）：对视频采样截图后，相关截图信息；雪碧图信息（imageSpriteInfo）：对视频截取雪碧图之后，雪碧的相关信息；
    指定时间点截图信息（snapshotByTimeOffsetInfo）：对视频依照指定时间点截图后，各个截图的信息。
    视频打点信息（keyFrameDescInfo）：对视频设置的各个打点信息。
    可以指定回包只返回部分信息。
        </pre>
    </div>
</body>
</html>