<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer-Credits</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="page-topic">
        <h1 class="title">这事标题，哈哈哈</h1>
        <img class="banner" src="http://placehold.it/100x50">
        <pre class="content">
Tea break is a leisure time during work.It is arranged to provide some hot drinks (mainly coffee/tea) and some desserts, fruits, etc. during the rest of the work and meeting process, sometimes according to the requirements and seasons of the staff or meeting organizers. Change, add a portion of soft drinks (cola, juice, mineral water, etc.) and some sandwiches. In this moment, everyone gathers, drinks tea, and chats to soothe the mind and body.
        </pre>
    </div>
</body>
</html>