{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Tea break</title> -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1143945_p0azd9jns4r.css">
</head>
<body>
    <div class="header">
        <span id="J_backBtn" class="header-back iconfont icon-arrow-left-s-line"></span>
        <h1 class="header-title">Tea break</h1>
    </div>
    <div class="page-topic">
        <img class="banner" src="{{tea.img.url}}">
        <pre class="content">
            {{tea.text}}
        </pre>
    </div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static "/js/app.js" %}"></script>
</body>
</html>