{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>My Reservation</title> -->
    <link rel="stylesheet" href="{% static "/css/style.css" %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1143945_p0azd9jns4r.css">
</head>
<body>
<div class="header">
    <span id="J_backBtn" class="header-back iconfont icon-arrow-left-s-line"></span>
    <h1 class="header-title">My Reservation</h1>
</div>

<br>

<div class="page-reservation">

    <h2 class="header-title">Room Amenity Reservation</h2>
    <ul class="reservation-list">
        {% for package in roomAmenityReservation %}
            <a href="/room_amenity/detail/{{ package.roomAmenity.id }}" style="text-decoration:none;">
                <li class="reservation-item">
                    <div class="reservation-item-image" style="background-image: url({{ package.roomAmenity.img.url }})"></div>
                        <div class="reservation-item-info">
                            <h3 class="reservation-item-title">{{ package.roomAmenity.name }}</h3>
                        </div>

                </li>
            </a>
        {% endfor %}

    </ul>
    <br>
    <h2 class="header-title">Lunch Reservation</h2>
    <ul class="reservation-list">
        {% for package in lunchReservation %}
                <a href="/lunch/detail/{{ package.lunch.id }}" style="text-decoration:none;">
                <li class="reservation-item">
                    <div class="reservation-item-image" style="background-image: url({{ package.lunch.img.url }})"></div>
                        <div class="reservation-item-info">
                            <h3 class="reservation-item-title">{{ package.lunch.name }}</h3>
                        </div>

                </li>
            </a>
        {% endfor %}
    </ul>

</div>




<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static "/js/app.js" %}"></script>
</body>
</html>